@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo */

.Logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 10px;
}

.Logo img {
  width: 34px;
  height: 34px;
  left: 0px;
  top: 8px;
}

.Logo span {
  width: 133px;
  height: 50px;
  left: 44px;
  top: 0px;

  font-family: "DM Serif Display";
  color: #292f36;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
}

.Header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  padding: 0px;
  gap: 399px;
  width: 1200px;
  height: 50px;
  left: 360px;
  margin-top: 40px;
}

nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 31px;
}

.nav-item {
  margin-right: 31px;
  text-decoration: none;
  color: #292f36;
}

.Menubar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  width: 572px;
  height: 25px;
  left: 0px;
  top: 0px;

  font-family: "Jost";
  color: #292f36;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}

.search {
  width: 21px;
  height: 21px;

  opacity: 0.8;
}

/* Home */

.Home {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 45px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  text-align: left;
  margin-left: 100px;
  width: 35%;
}

.s-t {
  width: 567px;
  height: 150px;
  font-family: "DM Serif Display";
  color: #292f36;
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 100%;
}

.s-p {
  width: 553px;
  height: 66px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4d5053;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 48px;
  gap: 10px;
  width: 219.14px;
  height: 75px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px #c0c0c059;
  border-radius: 18px;
}

.Button span {
  color: #ffffff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
}

.Button img {
  width: 15.14px;
  height: 13.18px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 52px;
  width: 100%;
  height: 225px;
  margin-top: 90px;
}

.section h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #292f36;
  line-height: 25%;
}

.section p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #4d5053;
  line-height: 150%;
  letter-spacing: 0.01em;
  width: 80%;
}

.section a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #4d5053;
  padding: 0px;
  gap: 12px;
  width: 120.14px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 15%;
}

.Section {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.home-section {
  display: flex;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  width: 169px;
  height: 64px;
}

.about-call {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 217px;
  height: 93px;
}

.call {
  width: 90px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.About-content {
  margin-top: 40px;
  gap: 40px;
}

.about-title-class {
  width: 470px;
  height: 189px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292f36;
}

.about-des-class {
  margin-top: 30px;
  height: 150%;
  margin-bottom: 0px;
  width: 410px;
}

.About {
  margin-top: 100px;
  width: 550px;
  display: flex;
}

.About-post {
  margin-top: 43px;
  margin-bottom: 43px;
}

.about-img img {
  width: 700px;
  height: 653px;
  top: 0px;
  margin-left: 89px;
  background: #c4c4c4;
  border-radius: 0px 326.5px 0px 123px;
}

.about-text span {
  width: 161px;
  height: 23px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4d5053;
}

.about-text p {
  width: 159px;
  height: 31px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4d5053;
}
